<h1>Lista de Cursos</h1>
<button pButton label="Crear Curso" icon="pi pi-plus" class="p-button-success p-button-sm"
        [routerLink]="['/courses/create', categoryId]"
        [disabled]="!categoryId">
</button>

<p-table [value]="coursesList" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Curso</th>
      <th>Descripcion</th>
      <th>Instructor</th>
      <th>Categoria</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-course>
    <tr>
      <td>{{ course.id }}</td>
      <td>{{ course.title }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.instructor_id }}</td>
      <td>{{ course.category_id }}</td>
      <td>
        <button pButton type="button" icon="pi pi-trash" label="Eliminar"
                class="p-button-danger p-button-sm"
                (click)="deleteCourse(course.id)">
        </button>
        <button pButton type="button" icon="pi pi-pencil" label="Editar"
                class="p-button-warning p-button-sm"
                (click)="editCourse(course.id)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
