<h1>Lista de Categorías</h1>
<button pButton label="Crear Categoría" icon="pi pi-plus" class="p-button-success p-button-sm"
        [routerLink]="['/categories/create']"></button>

<p-table [value]="categoriesList" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
        <button pButton type="button" icon="pi pi-trash" label="Eliminar"
                class="p-button-danger p-button-sm"
                (click)="deleteCategory(category.id)">
        </button>
        <button pButton type="button" icon="pi pi-pencil" label="Editar"
                class="p-button-warning p-button-sm"
                (click)="editCategory(category.id)">
        </button>
        <button pButton label="Cursos" icon="pi pi-plus" class="p-button-success p-button-sm"
        [routerLink]="['/courses/list', category.id]"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
