<h1>Editar Usuario</h1>

<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

<form (ngSubmit)="updateUser()">
  <div class="form-group">
    <label for="username">Nombre de usuario:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      name="username"
      class="p-inputtext p-component"
      required
    />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      name="email"
      class="p-inputtext p-component"
      required
    />
  </div>

  <div class="form-group">
    <label for="role">Rol:</label>
    <!-- Aquí cambiamos p-dropdown por un select tradicional de HTML -->
    <select
      [(ngModel)]="role"
      name="role"
      id="role"
      class="p-inputtext p-component"
      required
    >
      <option value="">Seleccione un rol</option>
      <option *ngFor="let option of roles" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>

  <button
    pButton
    type="submit"
    label="Actualizar Usuario"
    class="p-button-success"
    [disabled]="!username || !email || !role"
  ></button>
</form>
